#ifndef ${name}DATA_H
#define ${name}DATA_H

#include "Rtypes.h"
$includes

${namespace_open}
/** @class ${name}Data
 *  $description
 *  @author: $author
 */

class ${name}Data {
public:
$members
ClassDef(${name}Data,1);
};
${namespace_close}

#endif
