  void ${add_relation}(${classname});
  unsigned int ${relation}_size() const;
  ${classname} ${get_relation}(unsigned int) const;
  std::vector<${classname}>::const_iterator ${relation}_begin() const;
  std::vector<${classname}>::const_iterator ${relation}_end() const;

